.people {
  display: grid;
  grid-template-columns: repeat(4,200px);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 50px;
  justify-items: center;
  &__person {
    position: relative;
    width: 200px;
    height: 231px;
  


    &__photo {
      width: 200px;
      height: 231px;
      // background-image: url('https://mate-academy.github.io/fe-program/css/tasks/athletes/people/Mayweather.jpg');
      display: block;
      border-radius: 100%;
      object-fit: fill;
    }
    &__rank {
      display: block;
      text-align: center;
      margin-top: 7px;
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 18.4px;
      background-color: white;
      border-radius: 32px;
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 40%;
      right: 5%;
    }
  }

}
